pipeline/UsageAnalyticsIngest.json
{
	"name": "UsageAnalyticsIngest",
	"properties": {
		"activities": [
			{
				"name": "Default If Telemetry Date Param Blank",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(empty(pipeline().parameters.TelemetryDateFolder),equals(pipeline().parameters.TelemetryDateFolder,'PreviousDate'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Telemetry Date Folder to Param Value",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TelemetryDateFolder",
								"value": {
									"value": "@pipeline().parameters.TelemetryDateFolder",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Telemetry Date Folder to Default",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TelemetryDateFolder",
								"value": {
									"value": "@formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Config Ingest PageViews",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Default If Telemetry Date Param Blank",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "UsageAnalyticsGetConfig_PageViews",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"AppInsightsTopic": "PageViews",
						"TelemetryDateFolder": {
							"value": "@variables('TelemetryDateFolder')",
							"type": "Expression"
						},
						"RunBy": {
							"value": "@pipeline().parameters.RunBy",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get Config Ingest PageViewPerformance",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Default If Telemetry Date Param Blank",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "UsageAnalyticsGetConfig_PageViewPerformance",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"AppInsightsTopic": "PageViewPerformance",
						"TelemetryDateFolder": {
							"value": "@variables('TelemetryDateFolder')",
							"type": "Expression"
						},
						"RunBy": {
							"value": "@pipeline().parameters.RunBy",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get Config Ingest Event",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Default If Telemetry Date Param Blank",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "UsageAnalyticsGetConfig_Event",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"AppInsightsTopic": "Event",
						"TelemetryDateFolder": {
							"value": "@variables('TelemetryDateFolder')",
							"type": "Expression"
						},
						"RunBy": {
							"value": "@pipeline().parameters.RunBy",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"TelemetryDateFolder": {
				"type": "string",
				"defaultValue": "PreviousDate"
			},
			"RunBy": {
				"type": "string"
			}
		},
		"variables": {
			"TelemetryDateFolder": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ProjectEX"
		},
		"annotations": []
	}
}