pipeline/UsageAnalyticsIngest_Messages.json
{
	"name": "UsageAnalyticsIngest_Messages",
	"properties": {
		"activities": [
			{
				"name": "ETL Telemetry",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Default Value If DateToLoad is Empty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "exsav2-ai-container/exai_c332c05611a745beb25e7c088db74cfa/Messages/*.blob"
					},
					{
						"name": "Destination",
						"value": "UsageAnalytics.Messages"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "PipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('DateToLoad')",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@concat('exai_c332c05611a745beb25e7c088db74cfa/Messages/', variables('DateToLoad'))",
								"type": "Expression"
							},
							"wildcardFileName": "*.blob",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['message'][0]['raw']"
								},
								"sink": {
									"name": "MessageRaw",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['message'][0]['severityLevel']"
								},
								"sink": {
									"name": "MessageSeverityLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['internal']['data']['documentVersion']"
								},
								"sink": {
									"name": "InternalDataDocVer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['application']['version']"
								},
								"sink": {
									"name": "ContextAppVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['data']['eventTime']"
								},
								"sink": {
									"name": "ContextDataEventTime",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['data']['isSynthetic']"
								},
								"sink": {
									"name": "ContextDataIsSynthetic",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['context']['data']['samplingRate']"
								},
								"sink": {
									"name": "ContextDataSamplingRate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['device']['type']"
								},
								"sink": {
									"name": "ContextDataDeviceType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['device']['roleInstance']"
								},
								"sink": {
									"name": "ContextDataDeviceRoleInstance",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['device']['roleName']"
								},
								"sink": {
									"name": "ContextDataDeviceRoleName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['session']['isFirst']"
								},
								"sink": {
									"name": "ContextDataSessionIsFirst",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['context']['operation']['id']"
								},
								"sink": {
									"name": "ContextDataOperationId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['operation']['parentId']"
								},
								"sink": {
									"name": "ContextDataOperationParentId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['operation']['name']"
								},
								"sink": {
									"name": "ContextDataOperationName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['location']['clientip']"
								},
								"sink": {
									"name": "ContextLocationClientIp",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['location']['continent']"
								},
								"sink": {
									"name": "ContextLocationContinent",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['location']['country']"
								},
								"sink": {
									"name": "ContextLocationCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['TraceId']"
								},
								"sink": {
									"name": "ContextCustomDimTraceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['CategoryName']"
								},
								"sink": {
									"name": "ContextCustomDimCategoryName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['{OriginalFormat}']"
								},
								"sink": {
									"name": "ContextCustomDimOriginalFormat",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['ParentId']"
								},
								"sink": {
									"name": "ContextCustomDimParentId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['RequestPath']"
								},
								"sink": {
									"name": "ContextCustomDimRequestPath",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['AspNetCoreEnvironment']"
								},
								"sink": {
									"name": "ContextCustomDimAspNetCoreEnvironment",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['EventId']"
								},
								"sink": {
									"name": "ContextCustomDimEventId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['Method']"
								},
								"sink": {
									"name": "ContextCustomDimMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['Scheme']"
								},
								"sink": {
									"name": "ContextCustomDimScheme",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['Path']"
								},
								"sink": {
									"name": "ContextCustomDimPath",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['Protocol']"
								},
								"sink": {
									"name": "ContextCustomDimProtocol",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['Host']"
								},
								"sink": {
									"name": "ContextCustomDimHost",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['context']['custom']['dimensions'][0]['QueryString']"
								},
								"sink": {
									"name": "ContextCustomDimQueryString",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['PipelineRunId']"
								},
								"sink": {
									"name": "PipelineRunId"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "UsageAnalyticsMessagesTelemetryBlobJsonByDate_DS",
						"type": "DatasetReference",
						"parameters": {
							"DateToLoad": {
								"value": "@variables('DateToLoad')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "UsageAnalyticsTelemetryMessagesTable_DS1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Default Value If DateToLoad is Empty",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(empty(pipeline().parameters.DateToLoad),equals(pipeline().parameters.DateToLoad,'PreviousDate'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set DateToLoad to Parameter Value",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DateToLoad",
								"value": {
									"value": "@pipeline().parameters.DateToLoad",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set DateToLoad to Default",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DateToLoad",
								"value": {
									"value": "@formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DateToLoad": {
				"type": "string",
				"defaultValue": "PreviousDate"
			}
		},
		"variables": {
			"DateToLoad": {
				"type": "String"
			}
		},
		"annotations": []
	}
}