pipeline/UsageAnalyticsIngest_PageViews.json
{
	"name": "UsageAnalyticsIngest_PageViews",
	"properties": {
		"activities": [
			{
				"name": "ETL Stage Telemetry",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Clear Staged Telemetry for Same Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "TelemetryIngestBatchId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "TelemetryDate",
								"value": {
									"value": "@variables('TelemetryDateFolder')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"fileListPath": "ex-pex-ai-container",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@pipeline().parameters.StagingColumnsMapping",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "UsageAnalyticsAppInsightsBlobJsonByDate_MSI_DS",
						"type": "DatasetReference",
						"parameters": {
							"AppInsightsDirectory": {
								"value": "@pipeline().parameters.AppInsightsDirectory",
								"type": "Expression"
							},
							"AppInsightsTopic": {
								"value": "@pipeline().parameters.AppInsightsTopic",
								"type": "Expression"
							},
							"TelemetryDate": {
								"value": "@variables('TelemetryDateFolder')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "UsageAnalyticsStagingPageViewsTable_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Purge Staged Telemetry",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Distribute to Portal Other Environment1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Distribute to Portal Other Environment2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Distribute to Portal Environment",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Distribute to Portal Other Environment3",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Distribute to Portal Other Environment4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[UsageAnalyticsStaging].[uspDeleteStagingTelemetry]",
					"storedProcedureParameters": {
						"AppInsightsTopic": {
							"value": {
								"value": "@pipeline().parameters.AppInsightsTopic",
								"type": "Expression"
							},
							"type": "String"
						},
						"TelemetryDate": {
							"value": {
								"value": "@variables('TelemetryDateFolder')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Distribute to Portal Other Environment1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ETL Stage Telemetry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(pipeline().parameters.ToOtherEnvironment1))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Backup-Delete Telemetry Same Date 1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert New Telemetry For Environment 1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Backup-Delete Telemetry Same Date 1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
									"storedProcedureParameters": {
										"AppInsightsTopic": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.AppInsightsTopic",
												"type": "Expression"
											}
										},
										"ContextCustomDimensionsEnvironmentColumnName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
												"type": "Expression"
											}
										},
										"IncludeNullEnvironment": {
											"type": "Boolean",
											"value": "false"
										},
										"TelemetryDate": {
											"type": "String",
											"value": {
												"value": "@variables('TelemetryDateFolder')",
												"type": "Expression"
											}
										},
										"ToEnvironment": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ToOtherEnvironment1",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"value": "@pipeline().parameters.LandingColumnsMapping",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "UsageAnalyticsStagingPageViewsTable_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "UsageAnalyticsTelemetryPageViewsTable_OtherEnv1_DS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Purge Backup Telemetry Same Date 1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment 1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Restore Backup Telemetry Same Date 1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment 1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Distribute to Portal Other Environment2",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ETL Stage Telemetry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(pipeline().parameters.ToOtherEnvironment2))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Backup-Delete Telemetry Same Date 2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert New Telemetry For Environment 2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Backup-Delete Telemetry Same Date 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
									"storedProcedureParameters": {
										"AppInsightsTopic": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.AppInsightsTopic",
												"type": "Expression"
											}
										},
										"ContextCustomDimensionsEnvironmentColumnName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
												"type": "Expression"
											}
										},
										"IncludeNullEnvironment": {
											"type": "Boolean",
											"value": "false"
										},
										"TelemetryDate": {
											"type": "String",
											"value": {
												"value": "@variables('TelemetryDateFolder')",
												"type": "Expression"
											}
										},
										"ToEnvironment": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ToOtherEnvironment2",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"value": "@pipeline().parameters.LandingColumnsMapping",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "UsageAnalyticsStagingPageViewsTable_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "UsageAnalyticsTelemetryPageViewsTable_OtherEnv2_DS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Purge Backup Telemetry Same Date 2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment 2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Restore Backup Telemetry Same Date 2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment 2",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Distribute to Portal Environment",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ETL Stage Telemetry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "true",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Backup-Delete Telemetry Same Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert New Telemetry For Environment",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Backup-Delete Telemetry Same Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
									"storedProcedureParameters": {
										"AppInsightsTopic": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.AppInsightsTopic",
												"type": "Expression"
											}
										},
										"ContextCustomDimensionsEnvironmentColumnName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
												"type": "Expression"
											}
										},
										"IncludeNullEnvironment": {
											"type": "Boolean",
											"value": {
												"value": "@pipeline().parameters.IncludeNullEnvironment",
												"type": "Expression"
											}
										},
										"TelemetryDate": {
											"type": "String",
											"value": {
												"value": "@variables('TelemetryDateFolder')",
												"type": "Expression"
											}
										},
										"ToEnvironment": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.DefaultEnvironment",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"value": "@pipeline().parameters.LandingColumnsMapping",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "UsageAnalyticsStagingPageViewsTable_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "UsageAnalyticsTelemetryPageViewsTable_DefaultEnv_DS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Purge Backup Telemetry Same Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Restore Backup Telemetry Same Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Distribute to Portal Other Environment3",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ETL Stage Telemetry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(pipeline().parameters.ToOtherEnvironment3))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Backup-Delete Telemetry Same Date 3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert New Telemetry For Environment 3",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Backup-Delete Telemetry Same Date 3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
									"storedProcedureParameters": {
										"AppInsightsTopic": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.AppInsightsTopic",
												"type": "Expression"
											}
										},
										"ContextCustomDimensionsEnvironmentColumnName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
												"type": "Expression"
											}
										},
										"IncludeNullEnvironment": {
											"type": "Boolean",
											"value": "false"
										},
										"TelemetryDate": {
											"type": "String",
											"value": {
												"value": "@variables('TelemetryDateFolder')",
												"type": "Expression"
											}
										},
										"ToEnvironment": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ToOtherEnvironment3",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"value": "@pipeline().parameters.LandingColumnsMapping",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "UsageAnalyticsStagingPageViewsTable_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "UsageAnalyticsTelemetryPageViewsTable_OtherEnv3_DS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Purge Backup Telemetry Same Date 3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment 3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Restore Backup Telemetry Same Date 3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment 3",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Default If Telemetry Date Param Blank",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(empty(pipeline().parameters.TelemetryDateFolder),equals(pipeline().parameters.TelemetryDateFolder,'PreviousDate'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Telemetry Date Folder to Param Value",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TelemetryDateFolder",
								"value": {
									"value": "@pipeline().parameters.TelemetryDateFolder",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Telemetry Date Folder to Default",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TelemetryDateFolder",
								"value": {
									"value": "@formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Distribute to Portal Other Environment4",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ETL Stage Telemetry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(pipeline().parameters.ToOtherEnvironment4))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Backup-Delete Telemetry Same Date 4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insert New Telemetry For Environment 4",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Backup-Delete Telemetry Same Date 4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
									"storedProcedureParameters": {
										"AppInsightsTopic": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.AppInsightsTopic",
												"type": "Expression"
											}
										},
										"ContextCustomDimensionsEnvironmentColumnName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
												"type": "Expression"
											}
										},
										"IncludeNullEnvironment": {
											"type": "Boolean",
											"value": "false"
										},
										"TelemetryDate": {
											"type": "String",
											"value": {
												"value": "@variables('TelemetryDateFolder')",
												"type": "Expression"
											}
										},
										"ToEnvironment": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ToOtherEnvironment4",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"value": "@pipeline().parameters.LandingColumnsMapping",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "UsageAnalyticsStagingPageViewsTable_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "UsageAnalyticsTelemetryPageViewsTable_OtherEnv4_DS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Purge Backup Telemetry Same Date 4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment 4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Restore Backup Telemetry Same Date 4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert New Telemetry For Environment 4",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
								"storedProcedureParameters": {
									"AppInsightsTopic": {
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										},
										"type": "String"
									},
									"TelemetryDate": {
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Clear Staged Telemetry for Same Date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Default If Telemetry Date Param Blank",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[UsageAnalyticsStaging].[uspDeleteStagingTelemetry]",
					"storedProcedureParameters": {
						"AppInsightsTopic": {
							"value": {
								"value": "@pipeline().parameters.AppInsightsTopic",
								"type": "Expression"
							},
							"type": "String"
						},
						"TelemetryDate": {
							"value": {
								"value": "@variables('TelemetryDateFolder')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"AppInsightsDirectory": {
				"type": "string",
				"defaultValue": "n21portalanalyticsdevappinsights_24217191a7f749f1bde7c270d326c8e5"
			},
			"AppInsightsTopic": {
				"type": "string",
				"defaultValue": "PageViews"
			},
			"TelemetryDateFolder": {
				"type": "string"
			},
			"StagingColumnsMapping": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"path": "$['view'][0]['name']"
							},
							"sink": {
								"name": "ViewName",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['view'][0]['durationMetric']['value']"
							},
							"sink": {
								"name": "ViewDurationMetricValue",
								"type": "Double"
							}
						},
						{
							"source": {
								"path": "$['view'][0]['url']"
							},
							"sink": {
								"name": "ViewUrl",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['view'][0]['urlData']['base']"
							},
							"sink": {
								"name": "ViewUrlDataBase",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['view'][0]['urlData']['host']"
							},
							"sink": {
								"name": "ViewUrlDataHost",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['internal']['data']['id']"
							},
							"sink": {
								"name": "InternalDataId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['data']['eventTime']"
							},
							"sink": {
								"name": "ContextDataEventTime",
								"type": "DateTime"
							}
						},
						{
							"source": {
								"path": "$['context']['device']['id']"
							},
							"sink": {
								"name": "ContextDeviceId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['device']['osVersion']"
							},
							"sink": {
								"name": "ContextDeviceOSVersion",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['device']['deviceName']"
							},
							"sink": {
								"name": "ContextDeviceName",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['device']['browser']"
							},
							"sink": {
								"name": "ContextDeviceBrowser",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['device']['browserVersion']"
							},
							"sink": {
								"name": "ContextDeviceBrowserVersion",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['user']['anonId']"
							},
							"sink": {
								"name": "ContextUserAnonId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['user']['authId']"
							},
							"sink": {
								"name": "ContextUserAuthId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['session']['id']"
							},
							"sink": {
								"name": "ContextSessionId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['session']['isFirst']"
							},
							"sink": {
								"name": "ContextSessionIsFirst",
								"type": "Boolean"
							}
						},
						{
							"source": {
								"path": "$['context']['operation']['id']"
							},
							"sink": {
								"name": "ContextOperationId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['operation']['parentId']"
							},
							"sink": {
								"name": "ContextOperationParentId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['location']['continent']"
							},
							"sink": {
								"name": "ContextLocationContinent",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['location']['country']"
							},
							"sink": {
								"name": "ContextLocationCountry",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['custom']['dimensions'][0]['PortalId']"
							},
							"sink": {
								"name": "ContextCustomDimensionsPortalId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['custom']['dimensions'][1]['PortalEnvironment']"
							},
							"sink": {
								"name": "ContextCustomDimensionsPortalEnvironment",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['custom']['dimensions'][2]['PageId']"
							},
							"sink": {
								"name": "ContextCustomDimensionsPageId",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['context']['custom']['dimensions'][3]['ContentGroupName']"
							},
							"sink": {
								"name": "ContextCustomDimensionsContentGroupName",
								"type": "String"
							}
						},
						{
							"source": {
								"path": "$['TelemetryIngestBatchId']"
							},
							"sink": {
								"name": "TelemetryIngestBatchId",
								"type": "Guid"
							}
						},
						{
							"source": {
								"path": "$['TelemetryDate']"
							},
							"sink": {
								"name": "TelemetryDate",
								"type": "String"
							}
						}
					],
					"collectionReference": ""
				}
			},
			"LandingColumnsMapping": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "ContextDataEventTime",
								"type": "DateTime"
							},
							"sink": {
								"name": "ContextDataEventTime",
								"type": "DateTime"
							}
						},
						{
							"source": {
								"name": "InternalDataId",
								"type": "String"
							},
							"sink": {
								"name": "InternalDataId",
								"type": "Guid"
							}
						},
						{
							"source": {
								"name": "ViewName",
								"type": "String"
							},
							"sink": {
								"name": "ViewName",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ViewDurationMetricValue",
								"type": "Double"
							},
							"sink": {
								"name": "ViewDurationMetricValue",
								"type": "Double"
							}
						},
						{
							"source": {
								"name": "ViewUrl",
								"type": "String"
							},
							"sink": {
								"name": "ViewUrl",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ViewUrlDataBase",
								"type": "String"
							},
							"sink": {
								"name": "ViewUrlDataBase",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ViewUrlDataHost",
								"type": "String"
							},
							"sink": {
								"name": "ViewUrlDataHost",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextDeviceId",
								"type": "String"
							},
							"sink": {
								"name": "ContextDeviceId",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextDeviceName",
								"type": "String"
							},
							"sink": {
								"name": "ContextDeviceName",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextDeviceOSVersion",
								"type": "String"
							},
							"sink": {
								"name": "ContextDeviceOSVersion",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextDeviceBrowser",
								"type": "String"
							},
							"sink": {
								"name": "ContextDeviceBrowser",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextDeviceBrowserVersion",
								"type": "String"
							},
							"sink": {
								"name": "ContextDeviceBrowserVersion",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextUserAuthId",
								"type": "String"
							},
							"sink": {
								"name": "ContextUserAuthId",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextUserAnonId",
								"type": "String"
							},
							"sink": {
								"name": "ContextUserAnonId",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextSessionId",
								"type": "String"
							},
							"sink": {
								"name": "ContextSessionId",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextSessionIsFirst",
								"type": "Boolean"
							},
							"sink": {
								"name": "ContextSessionIsFirst",
								"type": "Boolean"
							}
						},
						{
							"source": {
								"name": "ContextOperationId",
								"type": "String"
							},
							"sink": {
								"name": "ContextOperationId",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextOperationParentId",
								"type": "String"
							},
							"sink": {
								"name": "ContextOperationParentId",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextLocationContinent",
								"type": "String"
							},
							"sink": {
								"name": "ContextLocationContinent",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextLocationCountry",
								"type": "String"
							},
							"sink": {
								"name": "ContextLocationCountry",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextCustomDimensionsPortalId",
								"type": "String"
							},
							"sink": {
								"name": "ContextCustomDimensionsPortalId",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextCustomDimensionsPortalEnvironment",
								"type": "String"
							},
							"sink": {
								"name": "ContextCustomDimensionsPortalEnvironment",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextCustomDimensionsPageId",
								"type": "String"
							},
							"sink": {
								"name": "ContextCustomDimensionsPageId",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "ContextCustomDimensionsContentGroupName",
								"type": "String"
							},
							"sink": {
								"name": "ContextCustomDimensionsContentGroupName",
								"type": "String"
							}
						},
						{
							"source": {
								"name": "TelemetryIngestBatchId",
								"type": "Guid"
							},
							"sink": {
								"name": "TelemetryIngestBatchId",
								"type": "Guid"
							}
						},
						{
							"source": {
								"name": "TelemetryDate",
								"type": "String"
							},
							"sink": {
								"name": "TelemetryDate",
								"type": "String"
							}
						}
					]
				}
			},
			"IncludeNullEnvironment": {
				"type": "string",
				"defaultValue": "true"
			},
			"DefaultEnvironment": {
				"type": "string",
				"defaultValue": "dev"
			},
			"ToOtherEnvironment1": {
				"type": "string",
				"defaultValue": "devint"
			},
			"ToOtherEnvironment2": {
				"type": "string",
				"defaultValue": "int"
			},
			"ToOtherEnvironment3": {
				"type": "string",
				"defaultValue": "qa"
			},
			"RunBy": {
				"type": "string"
			},
			"ToOtherEnvironment4": {
				"type": "string",
				"defaultValue": "stresstest"
			},
			"ContextCustomDimensionsEnvironmentColumnName": {
				"type": "string"
			}
		},
		"variables": {
			"TelemetryDateFolder": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Portals"
		},
		"annotations": []
	}
}