templates/UsageAnalyticsGetConfig_PageViewPerformance/UsageAnalyticsGetConfig_PageViewPerformance.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"PortalsUsageDB_LS": {
			"type": "string"
		},
		"PortalsUsageDB_DEVINT_LS": {
			"type": "string"
		},
		"PortalsUsageDB_INT_LS": {
			"type": "string"
		},
		"PortalsUsageDB_QA_LS": {
			"type": "string"
		},
		"PortalsUsageDB_LPT_LS": {
			"type": "string"
		},
		"AppInsightsBlobJson_MSI_LS": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsGetConfig_PageViewPerformance')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set Staging Columns Mapping",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "StagingColumnsMapping",
							"value": {
								"value": "@activity('Get Configuration').output.firstRow.StagingColumnsMapping",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Landing Columns Mapping",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "LandingColumnsMapping",
							"value": {
								"value": "@activity('Get Configuration').output.firstRow.LandingColumnsMapping",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Include Null Environment",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "IncludeNullEnvironment",
							"value": {
								"value": "@bool(activity('Get Configuration').output.firstRow.IncludeNullEnvironment)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Default Environment",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DefaultEnvironment",
							"value": {
								"value": "@string(activity('Get Configuration').output.firstRow.DefaultEnvironment)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set To Other Environment 1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ToOtherEnvironment1",
							"value": {
								"value": "@string(activity('Get Configuration').output.firstRow.ToOtherEnvironment1)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set To Other Environment 2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ToOtherEnvironment2",
							"value": {
								"value": "@string(activity('Get Configuration').output.firstRow.ToOtherEnvironment2)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set To Other Environment 3",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ToOtherEnvironment3",
							"value": {
								"value": "@string(activity('Get Configuration').output.firstRow.ToOtherEnvironment3)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Configuration",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[UsageAnalyticsStaging].[uspGetConfiguration]",
								"storedProcedureParameters": {
									"ConfigurationGroup": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.AppInsightsTopic",
											"type": "Expression"
										}
									},
									"ConfigurationKey": {
										"type": "String",
										"value": null
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "UsageAnalyticsIngestConfig_DS",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Set App Insights Directory",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "AppInsightsDirectory",
							"value": {
								"value": "@string(activity('Get Configuration').output.firstRow.AppInsightsDirectory)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set To Other Environment 4",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ToOtherEnvironment4",
							"value": {
								"value": "@string(activity('Get Configuration').output.firstRow.ToOtherEnvironment4)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Ingest Enabled",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "IngestEnabled",
							"value": {
								"value": "@bool(string(activity('Get Configuration').output.firstRow.IngestEnabled))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Ingest Enabled",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set Ingest Enabled",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set To Other Environment 4",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set App Insights Directory",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set To Other Environment 3",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set To Other Environment 2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set To Other Environment 1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Default Environment",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Include Null Environment",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Landing Columns Mapping",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Staging Columns Mapping",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Environment Column Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('IngestEnabled')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Ingest Telemetry",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "UsageAnalyticsIngest_PageViewPerformance",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"AppInsightsDirectory": {
												"value": "@variables('AppInsightsDirectory')",
												"type": "Expression"
											},
											"AppInsightsTopic": {
												"value": "@pipeline().parameters.AppInsightsTopic",
												"type": "Expression"
											},
											"TelemetryDateFolder": {
												"value": "@pipeline().parameters.TelemetryDateFolder",
												"type": "Expression"
											},
											"StagingColumnsMapping": {
												"value": "@json(variables('StagingColumnsMapping'))",
												"type": "Expression"
											},
											"LandingColumnsMapping": {
												"value": "@json(variables('LandingColumnsMapping'))",
												"type": "Expression"
											},
											"IncludeNullEnvironment": {
												"value": "@variables('IncludeNullEnvironment')",
												"type": "Expression"
											},
											"DefaultEnvironment": {
												"value": "@variables('DefaultEnvironment')",
												"type": "Expression"
											},
											"ToOtherEnvironment1": {
												"value": "@variables('ToOtherEnvironment1')",
												"type": "Expression"
											},
											"ToOtherEnvironment2": {
												"value": "@variables('ToOtherEnvironment2')",
												"type": "Expression"
											},
											"ToOtherEnvironment3": {
												"value": "@variables('ToOtherEnvironment3')",
												"type": "Expression"
											},
											"RunBy": {
												"value": "@pipeline().parameters.RunBy",
												"type": "Expression"
											},
											"ToOtherEnvironment4": {
												"value": "@variables('ToOtherEnvironment4')",
												"type": "Expression"
											},
											"ContextCustomDimensionsEnvironmentColumnName": {
												"value": "@variables('ContextCustomDimensionsEnvironmentColumnName')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set Environment Column Name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ContextCustomDimensionsEnvironmentColumnName",
							"value": {
								"value": "@string(activity('Get Configuration').output.firstRow.ContextCustomDimensionsEnvironmentColumnName)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"AppInsightsTopic": {
						"type": "string",
						"defaultValue": "PageViews"
					},
					"TelemetryDateFolder": {
						"type": "string"
					},
					"RunBy": {
						"type": "string"
					}
				},
				"variables": {
					"StagingColumnsMapping": {
						"type": "String"
					},
					"LandingColumnsMapping": {
						"type": "String"
					},
					"IncludeNullEnvironment": {
						"type": "Boolean"
					},
					"DefaultEnvironment": {
						"type": "String"
					},
					"ToOtherEnvironment1": {
						"type": "String"
					},
					"ToOtherEnvironment2": {
						"type": "String"
					},
					"ToOtherEnvironment3": {
						"type": "String"
					},
					"ToOtherEnvironment4": {
						"type": "String"
					},
					"AppInsightsDirectory": {
						"type": "String"
					},
					"IngestEnabled": {
						"type": "Boolean"
					},
					"ContextCustomDimensionsEnvironmentColumnName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Portals"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/UsageAnalyticsIngestConfig_DS')]",
				"[concat(variables('factoryId'), '/pipelines/UsageAnalyticsIngest_PageViewPerformance')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsIngestConfig_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('PortalsUsageDB_LS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Key",
						"type": "varchar"
					},
					{
						"name": "Value",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastModifiedBy",
						"type": "varchar"
					},
					{
						"name": "IsDeleted",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "UsageAnalytics",
					"table": "Configuration"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsIngest_PageViewPerformance')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ETL Stage Telemetry",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Clear Staged Telemetry for Same Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "TelemetryIngestBatchId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "TelemetryDate",
										"value": {
											"value": "@variables('TelemetryDateFolder')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.blob",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"value": "@pipeline().parameters.StagingColumnsMapping",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "UsageAnalyticsAppInsightsBlobJsonByDate_MSI_DS",
								"type": "DatasetReference",
								"parameters": {
									"AppInsightsDirectory": {
										"value": "@pipeline().parameters.AppInsightsDirectory",
										"type": "Expression"
									},
									"AppInsightsTopic": {
										"value": "@pipeline().parameters.AppInsightsTopic",
										"type": "Expression"
									},
									"TelemetryDate": {
										"value": "@variables('TelemetryDateFolder')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "UsageAnalyticsStagingPageViewPerformanceTable_DS",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Purge Staged Telemetry",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Distribute to Portal Other Environment1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Distribute to Portal Other Environment2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Distribute to Portal Environment",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Distribute to Portal Other Environment3",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Distribute to Portal Other Environment4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[UsageAnalyticsStaging].[uspDeleteStagingTelemetry]",
							"storedProcedureParameters": {
								"AppInsightsTopic": {
									"value": {
										"value": "@pipeline().parameters.AppInsightsTopic",
										"type": "Expression"
									},
									"type": "String"
								},
								"TelemetryDate": {
									"value": {
										"value": "@variables('TelemetryDateFolder')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('PortalsUsageDB_LS')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Distribute to Portal Other Environment1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ETL Stage Telemetry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(empty(pipeline().parameters.ToOtherEnvironment1))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Backup-Delete Telemetry Same Date 1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_DEVINT_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert New Telemetry For Environment 1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Backup-Delete Telemetry Same Date 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
											"storedProcedureParameters": {
												"AppInsightsTopic": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.AppInsightsTopic",
														"type": "Expression"
													}
												},
												"ContextCustomDimensionsEnvironmentColumnName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
														"type": "Expression"
													}
												},
												"IncludeNullEnvironment": {
													"type": "Boolean",
													"value": "false"
												},
												"TelemetryDate": {
													"type": "String",
													"value": {
														"value": "@variables('TelemetryDateFolder')",
														"type": "Expression"
													}
												},
												"ToEnvironment": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ToOtherEnvironment1",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"value": "@pipeline().parameters.LandingColumnsMapping",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "UsageAnalyticsStagingPageViewPerformanceTable_DS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv1_DS",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Purge Backup Telemetry Same Date 1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_DEVINT_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Restore Backup Telemetry Same Date 1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment 1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_DEVINT_LS')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Distribute to Portal Other Environment2",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ETL Stage Telemetry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(empty(pipeline().parameters.ToOtherEnvironment2))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Backup-Delete Telemetry Same Date 2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_INT_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert New Telemetry For Environment 2",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Backup-Delete Telemetry Same Date 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
											"storedProcedureParameters": {
												"AppInsightsTopic": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.AppInsightsTopic",
														"type": "Expression"
													}
												},
												"ContextCustomDimensionsEnvironmentColumnName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
														"type": "Expression"
													}
												},
												"IncludeNullEnvironment": {
													"type": "Boolean",
													"value": "false"
												},
												"TelemetryDate": {
													"type": "String",
													"value": {
														"value": "@variables('TelemetryDateFolder')",
														"type": "Expression"
													}
												},
												"ToEnvironment": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ToOtherEnvironment2",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"value": "@pipeline().parameters.LandingColumnsMapping",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "UsageAnalyticsStagingPageViewPerformanceTable_DS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv2_DS",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Purge Backup Telemetry Same Date 2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_INT_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Restore Backup Telemetry Same Date 2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment 2",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_INT_LS')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Distribute to Portal Environment",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ETL Stage Telemetry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "true",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Backup-Delete Telemetry Same Date",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert New Telemetry For Environment",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Backup-Delete Telemetry Same Date",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
											"storedProcedureParameters": {
												"AppInsightsTopic": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.AppInsightsTopic",
														"type": "Expression"
													}
												},
												"ContextCustomDimensionsEnvironmentColumnName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
														"type": "Expression"
													}
												},
												"IncludeNullEnvironment": {
													"type": "Boolean",
													"value": {
														"value": "@pipeline().parameters.IncludeNullEnvironment",
														"type": "Expression"
													}
												},
												"TelemetryDate": {
													"type": "String",
													"value": {
														"value": "@variables('TelemetryDateFolder')",
														"type": "Expression"
													}
												},
												"ToEnvironment": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.DefaultEnvironment",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"value": "@pipeline().parameters.LandingColumnsMapping",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "UsageAnalyticsStagingPageViewPerformanceTable_DS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "UsageAnalyticsTelemetryPageViewPerformanceTable_DefaultEnv_DS",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Purge Backup Telemetry Same Date",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Restore Backup Telemetry Same Date",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_LS')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Distribute to Portal Other Environment3",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ETL Stage Telemetry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(empty(pipeline().parameters.ToOtherEnvironment3))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Backup-Delete Telemetry Same Date 3",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_QA_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert New Telemetry For Environment 3",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Backup-Delete Telemetry Same Date 3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
											"storedProcedureParameters": {
												"AppInsightsTopic": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.AppInsightsTopic",
														"type": "Expression"
													}
												},
												"ContextCustomDimensionsEnvironmentColumnName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
														"type": "Expression"
													}
												},
												"IncludeNullEnvironment": {
													"type": "Boolean",
													"value": "false"
												},
												"TelemetryDate": {
													"type": "String",
													"value": {
														"value": "@variables('TelemetryDateFolder')",
														"type": "Expression"
													}
												},
												"ToEnvironment": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ToOtherEnvironment3",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"value": "@pipeline().parameters.LandingColumnsMapping",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "UsageAnalyticsStagingPageViewPerformanceTable_DS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv3_DS",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Purge Backup Telemetry Same Date 3",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment 3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_QA_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Restore Backup Telemetry Same Date 3",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment 3",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_QA_LS')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Default If Telemetry Date Param Blank",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(empty(pipeline().parameters.TelemetryDateFolder),equals(pipeline().parameters.TelemetryDateFolder,'PreviousDate'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set Telemetry Date Folder to Param Value",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TelemetryDateFolder",
										"value": {
											"value": "@pipeline().parameters.TelemetryDateFolder",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set Telemetry Date Folder to Default",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "TelemetryDateFolder",
										"value": {
											"value": "@formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Distribute to Portal Other Environment4",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ETL Stage Telemetry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(empty(pipeline().parameters.ToOtherEnvironment4))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Backup-Delete Telemetry Same Date 4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspBackupAndDeleteTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_LPT_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Insert New Telemetry For Environment 4",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Backup-Delete Telemetry Same Date 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[UsageAnalyticsStaging].[uspGetStagingTelemetryPerEnvironment]",
											"storedProcedureParameters": {
												"AppInsightsTopic": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.AppInsightsTopic",
														"type": "Expression"
													}
												},
												"ContextCustomDimensionsEnvironmentColumnName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ContextCustomDimensionsEnvironmentColumnName",
														"type": "Expression"
													}
												},
												"IncludeNullEnvironment": {
													"type": "Boolean",
													"value": "false"
												},
												"TelemetryDate": {
													"type": "String",
													"value": {
														"value": "@variables('TelemetryDateFolder')",
														"type": "Expression"
													}
												},
												"ToEnvironment": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ToOtherEnvironment4",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"value": "@pipeline().parameters.LandingColumnsMapping",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "UsageAnalyticsStagingPageViewPerformanceTable_DS",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv3_DS",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Purge Backup Telemetry Same Date 4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspDeleteBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_LPT_LS')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Restore Backup Telemetry Same Date 4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Insert New Telemetry For Environment 4",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[UsageAnalyticsStaging].[uspRestoreBackupTelemetry]",
										"storedProcedureParameters": {
											"AppInsightsTopic": {
												"value": {
													"value": "@pipeline().parameters.AppInsightsTopic",
													"type": "Expression"
												},
												"type": "String"
											},
											"TelemetryDate": {
												"value": {
													"value": "@variables('TelemetryDateFolder')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('PortalsUsageDB_LPT_LS')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Clear Staged Telemetry for Same Date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Default If Telemetry Date Param Blank",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[UsageAnalyticsStaging].[uspDeleteStagingTelemetry]",
							"storedProcedureParameters": {
								"AppInsightsTopic": {
									"value": {
										"value": "@pipeline().parameters.AppInsightsTopic",
										"type": "Expression"
									},
									"type": "String"
								},
								"TelemetryDate": {
									"value": {
										"value": "@variables('TelemetryDateFolder')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('PortalsUsageDB_LS')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"AppInsightsDirectory": {
						"type": "string",
						"defaultValue": "n21portalanalyticsdevappinsights_24217191a7f749f1bde7c270d326c8e5"
					},
					"AppInsightsTopic": {
						"type": "string",
						"defaultValue": "PageViewPerformance"
					},
					"TelemetryDateFolder": {
						"type": "string"
					},
					"StagingColumnsMapping": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"path": "$['clientPerformance'][0]['name']"
									},
									"sink": {
										"name": "ClientPerformanceName",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['clientPerformance'][0]['clientProcess']['value']"
									},
									"sink": {
										"name": "ClientPerformanceClientProcessValue",
										"type": "Double"
									}
								},
								{
									"source": {
										"path": "$['clientPerformance'][0]['receiveRequest']['value']"
									},
									"sink": {
										"name": "ClientPerformanceReceiveRequestValue",
										"type": "Double"
									}
								},
								{
									"source": {
										"path": "$['clientPerformance'][0]['sendRequest']['value']"
									},
									"sink": {
										"name": "ClientPerformanceSendRequestValue",
										"type": "Double"
									}
								},
								{
									"source": {
										"path": "$['clientPerformance'][0]['total']['value']"
									},
									"sink": {
										"name": "ClientPerformanceTotalValue",
										"type": "Double"
									}
								},
								{
									"source": {
										"path": "$['clientPerformance'][0]['url']"
									},
									"sink": {
										"name": "ClientPerformanceUrl",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['clientPerformance'][0]['urlData']['base']"
									},
									"sink": {
										"name": "ClientPerformanceUrlDataBase",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['clientPerformance'][0]['urlData']['host']"
									},
									"sink": {
										"name": "ClientPerformanceUrlDataHost",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['internal']['data']['id']"
									},
									"sink": {
										"name": "InternalDataId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['data']['eventTime']"
									},
									"sink": {
										"name": "ContextDataEventTime",
										"type": "DateTime"
									}
								},
								{
									"source": {
										"path": "$['context']['device']['id']"
									},
									"sink": {
										"name": "ContextDeviceId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['device']['osVersion']"
									},
									"sink": {
										"name": "ContextDeviceOSVersion",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['device']['deviceName']"
									},
									"sink": {
										"name": "ContextDeviceName",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['device']['browser']"
									},
									"sink": {
										"name": "ContextDeviceBrowser",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['device']['browserVersion']"
									},
									"sink": {
										"name": "ContextDeviceBrowserVersion",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['user']['anonId']"
									},
									"sink": {
										"name": "ContextUserAnonId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['user']['authId']"
									},
									"sink": {
										"name": "ContextUserAuthId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['session']['id']"
									},
									"sink": {
										"name": "ContextSessionId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['session']['isFirst']"
									},
									"sink": {
										"name": "ContextSessionIsFirst",
										"type": "Boolean"
									}
								},
								{
									"source": {
										"path": "$['context']['operation']['id']"
									},
									"sink": {
										"name": "ContextOperationId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['operation']['parentId']"
									},
									"sink": {
										"name": "ContextOperationParentId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['location']['continent']"
									},
									"sink": {
										"name": "ContextLocationContinent",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['location']['country']"
									},
									"sink": {
										"name": "ContextLocationCountry",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['custom']['dimensions'][0]['PortalId']"
									},
									"sink": {
										"name": "ContextCustomDimensionsPortalId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['custom']['dimensions'][1]['PortalEnvironment']"
									},
									"sink": {
										"name": "ContextCustomDimensionsPortalEnvironment",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['custom']['dimensions'][2]['PageId']"
									},
									"sink": {
										"name": "ContextCustomDimensionsPageId",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['context']['custom']['dimensions'][3]['ContentGroupName']"
									},
									"sink": {
										"name": "ContextCustomDimensionsContentGroupName",
										"type": "String"
									}
								},
								{
									"source": {
										"path": "$['TelemetryIngestBatchId']"
									},
									"sink": {
										"name": "TelemetryIngestBatchId",
										"type": "Guid"
									}
								},
								{
									"source": {
										"path": "$['TelemetryDate']"
									},
									"sink": {
										"name": "TelemetryDate",
										"type": "String"
									}
								}
							],
							"collectionReference": ""
						}
					},
					"LandingColumnsMapping": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "ContextDataEventTime",
										"type": "DateTime"
									},
									"sink": {
										"name": "ContextDataEventTime",
										"type": "DateTime"
									}
								},
								{
									"source": {
										"name": "InternalDataId",
										"type": "String"
									},
									"sink": {
										"name": "InternalDataId",
										"type": "Guid"
									}
								},
								{
									"source": {
										"name": "ClientPerformanceName",
										"type": "String"
									},
									"sink": {
										"name": "ClientPerformanceName",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ClientPerformanceClientProcessValue",
										"type": "Double"
									},
									"sink": {
										"name": "ClientPerformanceClientProcessValue",
										"type": "Double"
									}
								},
								{
									"source": {
										"name": "ClientPerformanceReceiveRequestValue",
										"type": "Double"
									},
									"sink": {
										"name": "ClientPerformanceReceiveRequestValue",
										"type": "Double"
									}
								},
								{
									"source": {
										"name": "ClientPerformanceSendRequestValue",
										"type": "Double"
									},
									"sink": {
										"name": "ClientPerformanceSendRequestValue",
										"type": "Double"
									}
								},
								{
									"source": {
										"name": "ClientPerformanceTotalValue",
										"type": "Double"
									},
									"sink": {
										"name": "ClientPerformanceTotalValue",
										"type": "Double"
									}
								},
								{
									"source": {
										"name": "ClientPerformanceUrl",
										"type": "String"
									},
									"sink": {
										"name": "ClientPerformanceUrl",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ClientPerformanceUrlDataBase",
										"type": "String"
									},
									"sink": {
										"name": "ClientPerformanceUrlDataBase",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ClientPerformanceUrlDataHost",
										"type": "String"
									},
									"sink": {
										"name": "ClientPerformanceUrlDataHost",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextDeviceId",
										"type": "String"
									},
									"sink": {
										"name": "ContextDeviceId",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextDeviceName",
										"type": "String"
									},
									"sink": {
										"name": "ContextDeviceName",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextDeviceOSVersion",
										"type": "String"
									},
									"sink": {
										"name": "ContextDeviceOSVersion",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextDeviceBrowser",
										"type": "String"
									},
									"sink": {
										"name": "ContextDeviceBrowser",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextDeviceBrowserVersion",
										"type": "String"
									},
									"sink": {
										"name": "ContextDeviceBrowserVersion",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextUserAuthId",
										"type": "String"
									},
									"sink": {
										"name": "ContextUserAuthId",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextUserAnonId",
										"type": "String"
									},
									"sink": {
										"name": "ContextUserAnonId",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextSessionId",
										"type": "String"
									},
									"sink": {
										"name": "ContextSessionId",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextSessionIsFirst",
										"type": "Boolean"
									},
									"sink": {
										"name": "ContextSessionIsFirst",
										"type": "Boolean"
									}
								},
								{
									"source": {
										"name": "ContextOperationId",
										"type": "String"
									},
									"sink": {
										"name": "ContextOperationId",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextOperationParentId",
										"type": "String"
									},
									"sink": {
										"name": "ContextOperationParentId",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextLocationContinent",
										"type": "String"
									},
									"sink": {
										"name": "ContextLocationContinent",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextLocationCountry",
										"type": "String"
									},
									"sink": {
										"name": "ContextLocationCountry",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextCustomDimensionsPortalId",
										"type": "String"
									},
									"sink": {
										"name": "ContextCustomDimensionsPortalId",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextCustomDimensionsPortalEnvironment",
										"type": "String"
									},
									"sink": {
										"name": "ContextCustomDimensionsPortalEnvironment",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextCustomDimensionsPageId",
										"type": "String"
									},
									"sink": {
										"name": "ContextCustomDimensionsPageId",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "ContextCustomDimensionsContentGroupName",
										"type": "String"
									},
									"sink": {
										"name": "ContextCustomDimensionsContentGroupName",
										"type": "String"
									}
								},
								{
									"source": {
										"name": "TelemetryIngestBatchId",
										"type": "Guid"
									},
									"sink": {
										"name": "TelemetryIngestBatchId",
										"type": "Guid"
									}
								},
								{
									"source": {
										"name": "TelemetryDate",
										"type": "String"
									},
									"sink": {
										"name": "TelemetryDate",
										"type": "String"
									}
								}
							]
						}
					},
					"IncludeNullEnvironment": {
						"type": "string",
						"defaultValue": "true"
					},
					"DefaultEnvironment": {
						"type": "string",
						"defaultValue": "dev"
					},
					"ToOtherEnvironment1": {
						"type": "string",
						"defaultValue": "devint"
					},
					"ToOtherEnvironment2": {
						"type": "string",
						"defaultValue": "int"
					},
					"ToOtherEnvironment3": {
						"type": "string",
						"defaultValue": "qa"
					},
					"RunBy": {
						"type": "string"
					},
					"ToOtherEnvironment4": {
						"type": "string",
						"defaultValue": "stresstest"
					},
					"ContextCustomDimensionsEnvironmentColumnName": {
						"type": "string"
					}
				},
				"variables": {
					"TelemetryDateFolder": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Portals"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/UsageAnalyticsAppInsightsBlobJsonByDate_MSI_DS')]",
				"[concat(variables('factoryId'), '/datasets/UsageAnalyticsStagingPageViewPerformanceTable_DS')]",
				"[concat(variables('factoryId'), '/datasets/UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv1_DS')]",
				"[concat(variables('factoryId'), '/datasets/UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv2_DS')]",
				"[concat(variables('factoryId'), '/datasets/UsageAnalyticsTelemetryPageViewPerformanceTable_DefaultEnv_DS')]",
				"[concat(variables('factoryId'), '/datasets/UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv3_DS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsAppInsightsBlobJsonByDate_MSI_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AppInsightsBlobJson_MSI_LS')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"AppInsightsDirectory": {
						"type": "string",
						"defaultValue": "n21portalanalyticsdevappinsights_24217191a7f749f1bde7c270d326c8e5"
					},
					"AppInsightsTopic": {
						"type": "string",
						"defaultValue": "PageViews"
					},
					"TelemetryDate": {
						"type": "string",
						"defaultValue": "0000-00-00"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@concat(dataset().AppInsightsDirectory, '/', dataset().AppInsightsTopic, '/', dataset().TelemetryDate)",
							"type": "Expression"
						},
						"container": "n21portalanalyticsblobstg"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"view": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"count": {
										"type": "integer"
									},
									"durationMetric": {
										"type": "object",
										"properties": {
											"value": {
												"type": "number"
											},
											"count": {
												"type": "number"
											},
											"min": {
												"type": "number"
											},
											"max": {
												"type": "number"
											},
											"stdDev": {
												"type": "number"
											},
											"sampledValue": {
												"type": "number"
											}
										}
									},
									"url": {
										"type": "string"
									},
									"urlData": {
										"type": "object",
										"properties": {
											"base": {
												"type": "string"
											},
											"host": {
												"type": "string"
											},
											"hashTag": {
												"type": "string"
											},
											"protocol": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"internal": {
							"type": "object",
							"properties": {
								"data": {
									"type": "object",
									"properties": {
										"id": {
											"type": "string"
										},
										"documentVersion": {
											"type": "string"
										}
									}
								}
							}
						},
						"context": {
							"type": "object",
							"properties": {
								"data": {
									"type": "object",
									"properties": {
										"eventTime": {
											"type": "string"
										},
										"isSynthetic": {
											"type": "boolean"
										},
										"samplingRate": {
											"type": "number"
										}
									}
								},
								"device": {
									"type": "object",
									"properties": {
										"id": {
											"type": "string"
										},
										"type": {
											"type": "string"
										},
										"osVersion": {
											"type": "string"
										},
										"deviceName": {
											"type": "string"
										},
										"deviceModel": {
											"type": "string"
										},
										"browser": {
											"type": "string"
										},
										"browserVersion": {
											"type": "string"
										},
										"screenResolution": {
											"type": "object"
										}
									}
								},
								"user": {
									"type": "object",
									"properties": {
										"anonId": {
											"type": "string"
										},
										"authId": {
											"type": "string"
										},
										"isAuthenticated": {
											"type": "boolean"
										}
									}
								},
								"session": {
									"type": "object",
									"properties": {
										"id": {
											"type": "string"
										},
										"isFirst": {
											"type": "boolean"
										}
									}
								},
								"operation": {
									"type": "object",
									"properties": {
										"id": {
											"type": "string"
										},
										"parentId": {
											"type": "string"
										},
										"name": {
											"type": "string"
										}
									}
								},
								"location": {
									"type": "object",
									"properties": {
										"clientip": {
											"type": "string"
										},
										"continent": {
											"type": "string"
										},
										"country": {
											"type": "string"
										}
									}
								},
								"custom": {
									"type": "object",
									"properties": {
										"dimensions": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"PortalId": {
														"type": "string"
													},
													"PortalEnvironment": {
														"type": "string"
													},
													"PageId": {
														"type": "string"
													},
													"ContentGroupName": {
														"type": "string"
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsStagingPageViewPerformanceTable_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('PortalsUsageDB_LS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ContextDataEventTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InternalDataId",
						"type": "varchar"
					},
					{
						"name": "clientPerformanceName",
						"type": "nvarchar"
					},
					{
						"name": "clientPerformanceClientProcessValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "clientPerformanceReceiveRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "clientPerformanceSendRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "clientPerformanceTotalValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "clientPerformanceUrl",
						"type": "nvarchar"
					},
					{
						"name": "clientPerformanceUrlDataBase",
						"type": "nvarchar"
					},
					{
						"name": "clientPerformanceUrlDataHost",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceId",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceName",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceOSVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowser",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowserVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAuthId",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAnonId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionIsFirst",
						"type": "bit"
					},
					{
						"name": "ContextOperationId",
						"type": "nvarchar"
					},
					{
						"name": "ContextOperationParentId",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationContinent",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationCountry",
						"type": "nvarchar"
					},
					{
						"name": "ContextCustomDimensionsPortalId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPortalEnvironment",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPageId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsContentGroupName",
						"type": "varchar"
					},
					{
						"name": "TelemetryIngestBatchId",
						"type": "uniqueidentifier"
					},
					{
						"name": "TelemetryDate",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "UsageAnalyticsStaging",
					"table": "PageViewPerformance"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv1_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('PortalsUsageDB_DEVINT_LS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ContextDataEventTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InternalDataId",
						"type": "varchar"
					},
					{
						"name": "ClientPerformanceName",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceClientProcessValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceReceiveRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceSendRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceTotalValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceUrl",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceUrlDataBase",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceUrlDataHost",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceId",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceName",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceOSVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowser",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowserVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAuthId",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAnonId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionIsFirst",
						"type": "bit"
					},
					{
						"name": "ContextOperationId",
						"type": "nvarchar"
					},
					{
						"name": "ContextOperationParentId",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationContinent",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationCountry",
						"type": "nvarchar"
					},
					{
						"name": "ContextCustomDimensionsPortalId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPortalEnvironment",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPageId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsContentGroupName",
						"type": "varchar"
					},
					{
						"name": "TelemetryIngestBatchId",
						"type": "uniqueidentifier"
					},
					{
						"name": "TelemetryDate",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "UsageAnalytics",
					"table": "PageViewPerformance"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv2_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('PortalsUsageDB_INT_LS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ContextDataEventTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InternalDataId",
						"type": "varchar"
					},
					{
						"name": "ClientPerformanceName",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceClientProcessValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceReceiveRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceSendRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceTotalValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceUrl",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceUrlDataBase",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceUrlDataHost",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceId",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceName",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceOSVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowser",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowserVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAuthId",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAnonId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionIsFirst",
						"type": "bit"
					},
					{
						"name": "ContextOperationId",
						"type": "nvarchar"
					},
					{
						"name": "ContextOperationParentId",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationContinent",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationCountry",
						"type": "nvarchar"
					},
					{
						"name": "ContextCustomDimensionsPortalId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPortalEnvironment",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPageId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsContentGroupName",
						"type": "varchar"
					},
					{
						"name": "TelemetryIngestBatchId",
						"type": "uniqueidentifier"
					},
					{
						"name": "TelemetryDate",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "UsageAnalytics",
					"table": "PageViewPerformance"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsTelemetryPageViewPerformanceTable_DefaultEnv_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('PortalsUsageDB_LS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ContextDataEventTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InternalDataId",
						"type": "varchar"
					},
					{
						"name": "ClientPerformanceName",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceClientProcessValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceReceiveRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceSendRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceTotalValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceUrl",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceUrlDataBase",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceUrlDataHost",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceId",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceName",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceOSVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowser",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowserVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAuthId",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAnonId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionIsFirst",
						"type": "bit"
					},
					{
						"name": "ContextOperationId",
						"type": "nvarchar"
					},
					{
						"name": "ContextOperationParentId",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationContinent",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationCountry",
						"type": "nvarchar"
					},
					{
						"name": "ContextCustomDimensionsPortalId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPortalEnvironment",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPageId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsContentGroupName",
						"type": "varchar"
					},
					{
						"name": "TelemetryIngestBatchId",
						"type": "uniqueidentifier"
					},
					{
						"name": "TelemetryDate",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "UsageAnalytics",
					"table": "PageViewPerformance"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UsageAnalyticsTelemetryPageViewPerformanceTable_OtherEnv3_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('PortalsUsageDB_QA_LS')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ContextDataEventTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InternalDataId",
						"type": "varchar"
					},
					{
						"name": "ClientPerformanceName",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceClientProcessValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceReceiveRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceSendRequestValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceTotalValue",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ClientPerformanceUrl",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceUrlDataBase",
						"type": "nvarchar"
					},
					{
						"name": "ClientPerformanceUrlDataHost",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceId",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceName",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceOSVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowser",
						"type": "nvarchar"
					},
					{
						"name": "ContextDeviceBrowserVersion",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAuthId",
						"type": "nvarchar"
					},
					{
						"name": "ContextUserAnonId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionId",
						"type": "nvarchar"
					},
					{
						"name": "ContextSessionIsFirst",
						"type": "bit"
					},
					{
						"name": "ContextOperationId",
						"type": "nvarchar"
					},
					{
						"name": "ContextOperationParentId",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationContinent",
						"type": "nvarchar"
					},
					{
						"name": "ContextLocationCountry",
						"type": "nvarchar"
					},
					{
						"name": "ContextCustomDimensionsPortalId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPortalEnvironment",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsPageId",
						"type": "varchar"
					},
					{
						"name": "ContextCustomDimensionsContentGroupName",
						"type": "varchar"
					},
					{
						"name": "TelemetryIngestBatchId",
						"type": "uniqueidentifier"
					},
					{
						"name": "TelemetryDate",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "UsageAnalytics",
					"table": "PageViewPerformance"
				}
			},
			"dependsOn": []
		}
	]
}